<!--
/*  Ben Nesbit
 *  CS-290
 *  main.handlebars
 */
-->

<!doctype html>
<html>
<head>
	<title>OoT Speedrunning Tips and Tricks</title>
	<link rel="stylesheet" href="styles.css" type="text/css">
</head>
<body>
	{{{body}}}
</body>
</html>
