<!--
/*  Ben Nesbit
 *  CS-290
 *  404.handlebars
 */
-->


<h1>Error 404 - Page not found<h1>
<a href="/"><img src="images/error-message-link.png"
                 title="Click to return Home"></a>
