<!--
/*  Ben Nesbit
 *  CS-290
 *  OoT-speedrunning-overview.handlebars
 */
-->

<br>

<div class="link_buttons">
  <a href="/"><button class="intraLinkButton">Home</button></a>
  <a href="/OoT-speedrunning-overview"><button class="intraLinkButton">Speedrunning Overview</button></a>
  <a href="/OoT-speedrunning-tricks"><button class="intraLinkButton">Speedrunning Tricks</button></a>
  <a href="/OoT-speedrunning-videos"><button class="intraLinkButton">Speedrunning Videos</button></a>
  <br><br>
  <a href="/HudZelda.zip" download><button class="intraLinkButton">Item Tracker Download</button></a>
</div>

<br><br>

<div id="overview_header_box">
  <h1>A brief overview of OoT speedrunning</h1>
  <hr>
  <h2>This page is meant to provdie a brief overview of speedrunning as it applies to OoT. There are
        much more details on the <a class="overview_hyperlink_out" href="/OoT-speedrunning-tricks">Speedrunning Tricks</a>
        page of this website.
        <br><br>
        You may also find a ton more specific information about OoT speedrunning (leaderboards, guides, <b>discord</b> and various other resources) at:
        <br><a class="overview_hyperlink_out" href="https://www.speedrun.com/oot">The Official Zelda - OoT Speedrunning Website</a>.
  </thead>
</div>

<br><br>

<div id="overview_main_box">
  <h1><strong>OVERVIEW</strong></h1>
  <hr>
  <h2>
    Speedrunning is the process of beating a game in the fastest manner possible. Depending on the rules set by a community, this may or may not
        include <a class="overview_hyperlink_out" href="https://zelda.gamepedia.com/Glitches_in_Ocarina_of_Time">glitches</a>, <a class="overview_hyperlink_out" href="http://zelda.speedruns.com/oot/tech/clipping">clipping</a>,
        or <a class="overview_hyperlink_out" href="http://zelda.speedruns.com/oot/wrongwarp/wrong-warp">wrong warps</a>.
        <br><br>
        Although the objective is typically to beat a game as fast as possible, there are some categories of speedrunning that require additional
        objectives or different end goals.
        <br><br>
        In order to keep progress in the easiest way, players will typically use an item tracker to show themselves and those watching what items
        they have successfully collected so far. <a href="/HudZelda.zip" download>Here is the item tracker</a> that I use (direct download). It was
        made by Zarby and Numberplay, the source is <a class="overview_hyperlink_out" href="https://www.speedrun.com/ootbq/resources">here</a>.
        Some may prefer an in-browser tracker, and a decent one may be found
        <a class="overview_hyperlink_out" href="https://testrunnersrl.github.io/oot-tracker/">here</a>.
  </h2>
  <h2>
    For every game that is speedrun, there are FOUR main categories:
    <ul class="overview_ol">
      <li>Any %</li>
      <li>100%</li>
      <li>TAS</li>
      <li>Miscellaneous categories</li>
    </ul>
  </h2>
  <hr>
  <h1>
    <strong>ANY %</strong>
  </h1>
  <hr>
  <h2>
    <a class="overview_hyperlink_out" href="http://zeldaspeedruns.wikia.com/wiki/Any%25_Route_(OoT)">Any %</a> is, in general, the most popular category for every
        game that is speedrun. These runs <i>typically</i> have the least restrictions, although the specifics will vary depending on the game. The object for
        an Any % run is to simply beat the game, as fast as possible, beating any % of the game as long as you beat the end of the game to take you to the credits.
        Runners of this style will only get the minimmum amount of items required to complete the run (game), and will use as many glitches and tricks as possible.
        <br><br>
        Of all the categories, these are typically the shortest style of runs, which is why they are the most popular as <strong>SPEED</strong> runs. They are usually
        very impressive to watch, as each of these runs will usually include at least one thing in the run that breaks the game to pieces (allows a runner to do
        something in the game that was completely un-intended by the developers). The OoT Any % is known for being one of the runs that "breaks" the game the most, for example.
  </h2>
  <hr>
  <h1>
    <strong>100 %</strong>
  </h1>
  <hr>
  <h2>
    If you understood why the last style was called any %, then this name is <a class="overview_hyperlink_out" href="https://zelda.gamepedia.com/100%25_Completion">100 %</a>.
        As the name implies, the runner must obtain 100% completion of the game before completion. The items required for 100% are usually very strictly defined, and
        in most games can be seen by some sort of collection percent in game. For OoT this means all main items, all item upgrades, every heart piece, and every single golden
        skulltula. There are a few more specifics that can be found on the link above.
        <br><br>
        100% runs usually have mixed reception. On one hand, they will show off the most of the game, but on the other hand they usually have the most restrictions (but not always!).
        Personally, these are my favorite runs to watch as the runs are usually longer (although orders of magnitude faster than casual playthroughs), and you can get a better
        sense of what is happening in the run, and get to see a wider variety of usage for each trick.
  </h2>
  <hr>
  <h1>
    <strong>TAS</strong>
  </h1>
  <hr>
  <h2>
    These are, in my opinion, by far the most interesting runs to watch. TAS stands for <a class="overview_hyperlink_out" href="https://en.wikipedia.org/wiki/Tool-assisted_speedrun">
        Tool Assisted Speedrun</a>. These runs are not speedruns in the traditional sense, because they are not run by a human. These are runs that are pieced together
        frame by frame, making sure that each frame has been optomized. They are esentially <strong>perfect</strong> runs that could never be realistically performed
        by a human being. They usualy include tricks that require several frame perfect inputs in a row (an action that must be performed in about 1/20 of a second, and
        many of these actions must be performed in a row).
        <br><br>
        These kind of procedures are usually impossible for humans to perform, but create a fantastic video when watched. They will have the most insane tricks and will always
        be the fastest runs in their category (like 100% or Any %), but these runs are never compared to a real human run, and are always done for fun and research.
        <br><br>
        Once you are more fimilar with speedrunning in general and have seen a normal run for a game, I highly reccommend watching a TAS run. They will also often include
        "swag" that the TAS creators threw in to have fun; throwing items in silly ways, or performing silly actions in between frames to further show that a human could
        never do a run with that kind of "style." I have included one of these TAS runs for OoT 100% in the "Speedrunning Videos" section.
  </h2>
  <hr>
  <h1>
    <strong>MISCELLANEOUS CATEGORIES</strong>
  </h1>
  <hr>
  <h2>
    This section is a bit vague, but this is because every game does have the above categories, but they all also have their own unique categories that you will probably
        not see in any other game. For example, OoT has a run called <a class="overview_hyperlink_out" href="https://www.speedrun.com/oot/guide/6pn91">MST</a> which
        stands for Medallion, Stones, Trials. This requires the runner to get beat all the dungeons in the game (must beat the boss and get the medallion or the stone),
        and beat all the Ganon trials. It is unique to OoT speedrunning.
        <br><br>
        There are many other categories for OoT, and I suggest you check them out at
        <a class="overview_hyperlink_out" href="https://www.speedrun.com/oot">The Official Zelda - OoT Speedrunning Website</a> if any of this was interesting to you.
        There are so many variations of speedruns for this game, you are bound to find one that interests you.
  </h2>
</div>

<br><br>

<div id="overview_picture_box">
  <h2>
    <p>Let's throw some pics here or something?</p>
  </h2>
</div>
