<!--
/*  Ben Nesbit
 *  CS-290
 *  OoT-speedrunning-videos.handlebars
 */
-->

<br>

<div class="link_buttons">
  <a href="/"><button class="intraLinkButton">Home</button></a>
  <a href="/OoT-speedrunning-overview"><button class="intraLinkButton">Speedrunning Overview</button></a>
  <a href="/OoT-speedrunning-tricks"><button class="intraLinkButton">Speedrunning Tricks</button></a>
  <a href="/OoT-speedrunning-videos"><button class="intraLinkButton">Speedrunning Videos</button></a>
  <br><br>
  <a href="/HudZelda.zip" download><button class="intraLinkButton">Item Tracker Download</button></a>
</div>

<br><br>

<div id="videos_intro_box">
  <h1>Here are some of my favorite speedrunning videos!</h1>
  <h2>This does include speedruns that are not OoT, because I really like them and they are REALLY cool :)</h2>
</div>

<br><br>

<div id="video_box">
  <ul id="video_ul">
    <li>
      <h2><a class="video_hyperlink_out" href="https://www.youtube.com/watch?v=r88ALIFmHFY">The Legend of Zelda: Ocarina of Time 100% Speedrun by ZFG - AGDQ 2018</a></h2>
      <iframe width="550" height="420" src="https://www.youtube.com/embed/r88ALIFmHFY"></iframe>
    </li>
    <br>
    <li>
      <h2><a class="video_hyperlink_out" href="https://youtu.be/Pe8A4X_sNow">Zelda: Ocarina Of Time 100% [TAS] in 3:47:57.17 By MoronicTAS & GCTK24</a></h2>
      <iframe width="550" height="420" src="https://www.youtube.com/embed/Pe8A4X_sNow"></iframe>
    </li>
    <br>
    <li>
      <h2><a class="video_hyperlink_out" href="https://www.youtube.com/watch?v=T_oDcRKzoHI">Super Metroid 0% by TASBot, presented by dwangoAC - SGDQ2018</a></h2>
      <iframe width="550" height="420" src="https://www.youtube.com/embed/T_oDcRKzoHI"></iframe>
    </li>
    <br>
    <li>
      <h2><a class="video_hyperlink_out" href="https://youtu.be/7gMK7bVmcic?start=1491">The Legend of Zelda: ALttP Randomizer by Andy and ChristosOwen - AGDQ 2018</a></h2>
      <iframe width="550" height="420" src="https://www.youtube.com/embed/7gMK7bVmcic?start=1491"></iframe>
    </li>
    <br>
    <li>
      <h2><a class="video_hyperlink_out" href="https://youtu.be/eMxO3vekRXY?start=1491">Speed runner teaches someone how to run his game in ONE playthrough! - AGDQ 2018</a></h2>
      <iframe width="550" height="420" src="https://www.youtube.com/embed/eMxO3vekRXY?start=1460"></iframe>
    </li>
  </ul>
</div>

<br><br>

<div id="twitch_box">
  <h2 style="color: #e6005c">&hearts; If you enjoy gaming and watching gaming, be sure to give my Twitch channel
        <a class="video_hyperlink_out" href="https://www.twitch.tv/ogteamtilt">OG Team Tilt</a> a follow! &hearts; It is
        a joint channel with my brother and our good friend. &hearts; We mostly variety stream and I do OoT randomizers.
        &hearts; Come hang out to learn more about randomizers! &hearts;</h2>
</div>
