<!--
/*  Ben Nesbit
 *  CS-290
 *  OoT-speedrunning-tricks.handlebars
 */
-->

<br>

<div class="link_buttons">
  <a href="/"><button class="intraLinkButton">Home</button></a>
  <a href="/OoT-speedrunning-overview"><button class="intraLinkButton">Speedrunning Overview</button></a>
  <a href="/OoT-speedrunning-tricks"><button class="intraLinkButton">Speedrunning Tricks</button></a>
  <a href="/OoT-speedrunning-videos"><button class="intraLinkButton">Speedrunning Videos</button></a>
  <br><br>
  <a href="/HudZelda.zip" download><button class="intraLinkButton">Item Tracker Download</button></a>
</div>

<br><br>

<div id="tricks_header_box">
  <h1>OoT Speedrunning Tips and Tricks</h1>
  <h2>This page covers some simple to advanced tactics commonly used while speedrunning OoT</h2>
  <h2>I use a lot of information from videos made by
        <a class="tricks_hyperlink_out" href="https://www.youtube.com/channel/UCEFVuV9YUPuUxRQUaoWfkSg">aleckermit</a> and the videos
        are old, but well done. I like how they just get to the point, so this is why I used his videos and formatted instruction around them. He
        has a ton more videos on his page about OoT speed running tactics, and also a lot of irrelevant videos.</h2>
</div>

<br><br>

<div id="tricks_basic_box">
  <h1><strong>BASIC TRICKS</strong></h1>
  <hr>
  <h2>
    These are some of the basic movement optomizations that one MUST master if they are to ever speedrun OoT:
    <ul class="tricks_basic_movement_ul">
      <li>Correct rolling technique</li>
      <li>Fast swimming</li>
      <li>Back walking</li>
      <li>Side hopping</li>
    </ul>
    I find this video to be extremely helpful if any of these optimizations are foreign to you. This is an older video, but it is very short and delivers only the necessary information, it is very underrated in my opinion, but it might
    be because these techniques are known by most casual players of the game.
    <br>
    <a class="tricks_hyperlink_out" href="https://youtu.be/vFhDz-3wr3k">OoT Speedrunning 101 #1 - Basic Movement Techniques - aleckermit</a></h2>
    <iframe width="550" height="420" src="https://www.youtube.com/embed/vFhDz-3wr3k"></iframe>
  </h2>
  <hr>
  <h2>
    These are some more of the basic optimizations, but they are more situational, and less about direct movement:
    <ul class="tricks_basic_movement_ul">
      <li>Shield dropping</li>
      <li>Power crouch stabbing</li>
      <li>Infinite Sword Glitch (ISG)
        <ul>
          <li>One of THE MOST USEFUL tricks</li>
          <li>Worth noting, the only way to draw sword without losing ISG is to draw it during a backflip</li>
        </ul></li>
      <li>Ground jumps
        <ul>
          <li>This is not used as much in current runs</li>
          <li>Can still be useful for back-up strategies and improvising</li>
        </ul></li>
      <li>Mega flip
        <ul>
          <li>Things are starting to get tricky here</li>
          <li>This requires practice and excelent timing</li>
        </ul></li>
      <li>Mega jump
        <ul>
          <li>This is more for things thath are out of reach due to being above Link's head</li>
          <li>This is a bit easier than Mega flip, but does require
              <a class="tricks_hyperlink_out" href="http://oot-speedruns.wikia.com/wiki/Frame_Rate_and_Pause_Buffering">"frame buffering"</a></li>
        </ul></li>
      <li>Hover boosting</li>
    </ul>
    Here is another helpful video, and will show step by step how to perform each trick and the necessary conditions. It is short and to the point, but some of
    these tricks are starting to become <a class="tricks_hyperlink_out" href="http://oot-speedruns.wikia.com/wiki/Frame_Rate_and_Pause_Buffering">"frame perfect"</a>.
    <br>
    <a class="tricks_hyperlink_out" href="https://youtu.be/zEM3GDxPkVc">OoT Speedrunning 101 #2 - Basic Movement Techniques - aleckermit</a></h2>
    <iframe width="550" height="420" src="https://www.youtube.com/embed/zEM3GDxPkVc"></iframe>
  </h2>
</div>

<br><br>

<div id="tricks_advanced_box">
  <h1><strong>ADVANCED TRICKS</strong></h1>
  <hr>
  <h2><i>NOTE: Tactics updated here constantly, be sure to check back!</i></h2>
  <h2>
    These are some more advanced techniques, that will require some of the basic skills, mainly ISG. They will require a lot of practice, are often
        <a class="tricks_hyperlink_out" href="http://oot-speedruns.wikia.com/wiki/Frame_Rate_and_Pause_Buffering">"frame perfect"</a>, and have multiple
        steps. Do not give up! They are rather simple and with practice you will be doing them like a pro in no time!
  </h2>
  <hr>
  <h2>
    <strong><a class="tricks_hyperlink_out" href="https://youtu.be/myqD82UZP60?t=2m46s">Bombchu hovering as an Adult</a><strong>
    <br>
    This is a very essential technique to master, as any run that allows glitches will use it, a lot. It can be used to reach alomst ANY area in the game; so yeah,
        it is pretty useful. The basic steps are as follows:
    <ol id="tricks_bombchu_hover_ol" style="text-align: left">
      <li>Get ISG while wearing the hover boots</li>
      <li>Back walk to the edge of a drop-off</li>
      <li>Do a backflip, and then press the bombchu AND shield buttons at <i>almost</i> the same time, making sure to press the bombchu button first</li>
      <li>Once the bombchu is finished exploding, you can let go of the shield button</li>
      <li>From here, the process can be repeated until you run out of bombchus or wish to quit, and you no longer need to use the
            <a class="tricks_hyperlink_out" href="http://supersmashbros.wikia.com/wiki/Z_button">"Z"</a> button</li>
      <li>When you would like to stop govering, all you need to do is swing your sword, or side hop or backflip for a little extra distance</li>
    </ol>
    <a class="tricks_hyperlink_out" href="https://youtu.be/myqD82UZP60?t=2m46s">OoT Speedrunning 101 #3 - Advanced Tricks and Glitches - aleckermit</a></h2>
    <iframe width="550" height="420" src="https://www.youtube.com/embed/myqD82UZP60?start=166"></iframe>
  </h2>
</div>
